In [3]:
import os

from trino.dbapi import connect
from trino.auth import BasicAuthentication
import pandas as pd

import numpy as np
# Create your views here.

conn = connect(host="tcp.cheerful-maggot.dataos.app",
               port="7432",
               auth=BasicAuthentication(
                   'balaji', "dG9rZW5fc2NhcmNlbHlfc2VyaW91c2x5X2ZyZXNoX2tpZC43YmJmMDIwZS0xMmJhLTRkNjEtYmFmZS0zNGQzNTcxZDZkOGQ="),
               http_scheme="https",
               http_headers={"cluster-name": "minervac"} 
              )

In [17]:
prod_names_uncased = [s.replace('.jpg', '') for s in os.listdir() if s.endswith('.jpg')]

In [6]:
qr = "SELECT sku_id, product_name from icebasedev.retail_accelerator.product"

In [7]:
df = pd.read_sql(qr, conn)

/Users/astrobalaji/opt/anaconda3/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [9]:
df.product_name = df.product_name.str.lower()

In [10]:
prod_names = [p.lower() for p in prod_names]

In [15]:
prods_df = df[df.product_name.isin(prod_names)].drop_duplicates(subset = ['product_name'])

In [12]:
len(prod_names)

149

In [16]:
prods_df

           sku_id                    product_name
0      SKU0015111                   jordan jacket
12     SKU0015123   bath & body works body lotion
22     SKU0015133               carter's sleepers
33     SKU0015144         yves saint laurent rose
52     SKU0015163  tommy hilfiger button-up shirt
...           ...                             ...
6551   SKU0021662                  diesel sweater
7197   SKU0022308           oshkosh b'gosh shorts
7752   SKU0022863             under armour blazer
9230   SKU0024341                burberry jasmine
10616  SKU0025727           hanna andersson scarf

[145 rows x 2 columns]

In [18]:
prod_df = pd.DataFrame()

In [20]:
prod_df['filename'] = prod_names_uncased
prod_df['product_name'] = prod_names

In [22]:
prods_df = prods_df.merge(prod_df, on = 'product_name', how = 'left')
prods_df['filename'] = prods_df['filename'].apply(lambda x: x+'.jpg')

In [23]:
prods_df

,sku_id,product_name,filename
0,SKU0015111,jordan jacket,Jordan jacket.jpg
1,SKU0015123,bath & body works body lotion,Bath & Body Works Body lotion.jpg
2,SKU0015133,carter's sleepers,Carter's Sleepers.jpg
3,SKU0015144,yves saint laurent rose,Yves Saint Laurent rose.jpg
4,SKU0015163,tommy hilfiger button-up shirt,Tommy Hilfiger button-up shirt.jpg
...,...,...,...
140,SKU0021662,diesel sweater,Diesel Sweater.jpg
141,SKU0022308,oshkosh b'gosh shorts,OshKosh B'gosh Shorts.jpg
142,SKU0022863,under armour blazer,Under Armour Blazer.jpg
143,SKU0024341,burberry jasmine,Burberry jasmine.jpg
144,SKU0025727,hanna andersson scarf,Hanna Andersson Scarf.jpg

In [26]:
os.getcwd()

'/Users/astrobalaji/Documents/stacknexus/tmdc_poc/retail_demo/productSKU/static_imgs'

In [29]:
os.rename?

In [30]:
os.chdir('stat_upload/')

In [32]:
for i, row in prods_df.iterrows():
    os.rename(row['sku_id'], row['sku_id']+'.jpg')